// $primary: teal;

@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  // border: 1px solid black;
}
body {
  position: relative;
}
// ------------------------------content ------------------------------------------
#content {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

// ------------------------------header ------------------------------------------
header {
  grid-column: 1/4;
  grid-row: 1;
  display: flex;
  background-color: #add8e6;
  color: #fff;
  align-items: center;
}
header h1 {
  margin-left: 5%;
}

.fa-list-check {
  margin-left: 2%;
}
// nav

nav {
  width: 80%;
  grid-column: 1;
  grid-row: 2 / 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(248, 248, 248);
  border-right: 0.5px solid lightgray;
}
nav h2 {
  margin-left: 5%;
}
.flex-column {
  display: flex;
  flex-direction: row !important;
  width: 100%;
  justify-content: center;
}
.card-one-container a {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  padding: 10px;
  background-color: lightblue;
  color: white;
  margin: 5px;
}
.nav-link:first-child {
  // background-color: pink;
}

.add-container {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  background-color: lightblue;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.fa-plus {
  font-size: 2rem;
  color: white;
}
// ------------------------------main ------------------------------------------
main {
  margin-right: 10%;
  background-color: white;
  grid-column: 2/4;
  grid-row: 2/5;
}

.table {
  // border: 1px solid black;
}
// ------------------------------modal ------------------------------------------
.modal-container {
  display: none;
  // display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
}

.form-task {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px;
  border: 0.5px solid lightgray;
}
.btn-sm:last-child {
  float: right;
}
#task-input {
  margin: 10px 10px 0 10px;
}
textarea {
  margin: 10px;
}

// ------------------------------animations ------------------------------------------

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
